body 
{
    margin: 0;
    padding: 0;
    background-color: white;
    font-family: 'Raleway', sans-serif;
    font-weight: 500;
}

a
{
    text-decoration: none;
    color: Black;
}


/******** Navbar ***********/
/******** Navbar ***********/
/******** Navbar ***********/


#header_div_1{
  width: 100%;
  display: grid;
  grid-template-columns: 5fr 1fr 1fr 1fr;
  grid-template-rows: 3.875rem;
  margin-top: 0rem;
}

#header_div_1 > img{
  padding: 0.625rem 1.5rem;
}

.nav_link_03 strong{
  font-weight: 700;
}

.nav_link_01, .nav_link_02, .nav_link_03 {
  width: 100%;
  text-align: center;
  padding-top: 1.25rem;
  margin-top: 0rem;
}

.nav_link_01:hover, .nav_link_02:hover, .nav_link_03:hover{
  border-top: 0.188rem #0065fc solid;
  cursor: pointer;
}

.nav_link_01, .nav_link_02, .nav_link_03{
  border-top: 0.188rem #fff solid; 
  cursor: pointer;
}

strong#inscrire
{
  color: #6099f0;
}



/******** HEADER TEXT ***********/
/******** HEADER TEXT ***********/
/******** HEADER TEXT ***********/


.HeaderText
{
    padding: 30px;
}

.HeaderText p 
{
    color: #7a7a52;
}



/******** SEARCH BOX ***********/
/******** SEARCH BOX ***********/
/******** SEARCH BOX ***********/


.SearchBoxWrapper
{
   margin-left: 30px;
}

.insideBox
{
    display: flex;
}

.SearchBoxWrapper, button, input, i {
    padding: 10px;
}

.search {
    background-color: #0065FC;
    border-radius: 0px 10px 10px 0px;
    color: white;
    border: white;
}

.fa-map-marker-alt { 
 border: #f2f5ef 1px solid;
 background-color: #F2F2F2; 
 border-radius: 10px 0px 0px 10px;
}

.txtbox {
    border-style: none;
    border-bottom: 02px solid #f2f5ef;
    border-top: 02px solid #f2f5ef;
}


/******** FILTRES ***********/
/******** FILTRES ***********/
/******** FILTRES ***********/

.FiltreSpace
{
    display: flex;
}

.filtreTitle
{
    margin-top: 0.5rem;
}

.FiltreSpace
{
    margin: 2rem;
}

.span1 
{
    border-radius: 30px;
    margin-left: -1px;
    color: #0065FC;
    background-color: #DEEBFF;
    border-color: darkgray;
    
}

.filtreBorder
{
    border: 2px solid black;
    margin: 0 0.8rem;
    padding-top: 0.5rem; 
    padding-bottom: 0.5rem;
    padding-right: 0.8rem;
    border-radius: 20px;
    border-color: #DEEBFF;
}

.filtreBorder:hover
{
    background-color: #DEEBFF;
}


/******** INFO TEXT ***********/
/******** INFO TEXT ***********/
/******** INFO TEXT ***********/


.INFOTXT .fa-info, .textinfo {
    display: inline-flex;
}

.fa-info {
    border: 2px #DEEBFF solid;
    border-radius: 50%;
    padding: 5px 10px 5px 10px;
    color: #0065FC;
}

.INFOTXT
{
    padding-left: 30px;
}


/******** HEBERGEMENTS ***********/
/******** HEBERGEMENTS ***********/
/******** HEBERGEMENTS ***********/



.HebergementsBOX
{
    width: 100%;
    background-color: white;
    padding-top: 10px;
    display: flex;
}

.LeftBox 
{
    width: 65%;
    background-color: #F2F2F2;
    overflow: hidden;
    margin: auto;
    padding-bottom: 50px;
    border-radius: 20px;
}

.RightBox 
{
    width: 25%;
    background-color: #F2F2F2;
    overflow: hidden; 
    margin: auto;
    border-radius: 20px;
}

.LineA ul li 
{
    list-style: none;
    float: left;
    width: 29%;
    height: 245px;
    background-color: white;
    margin: 40px 0px 0px 20px;
    box-sizing: border-box;
    border: 2px solid white;
    border-radius: 20px;
    box-shadow: 5px 5px 5px #d4d2d2;
}

.LineA ul li:hover, .LineB ul li:hover
{
    box-shadow: 5px 5px 8px 5px #b2b5b8;
}

.LineB ul li

    {
    list-style: none;
    float: left;
    width: 29%;
    height: 245px;
    background-color: white;
    margin: 40px 0px 0px 20px;
    box-sizing: border-box;
    border: 2px solid white;
    border-radius: 20px;
    box-shadow: 5px 5px 5px #d4d2d2;
}


.RightBox .Box1 
{
    list-style: none;
    width: 85%;
    margin: 3.5rem auto;
    height: 140px;
    background-color: white;
    box-sizing: border-box;
    border: 2px solid white;
    border-radius: 20px;
    display: flex;
    box-shadow: 5px 5px 5px #d4d2d2;
}


.LeftBox h2
{
    margin: 30px 0px 0px 70px;
}

.LeftBox p, .RightBox p  
{
    font-size: 0.9rem;
}

.etoile 
{
    margin-top: 0.5rem;
}

.etoile span i
{
    padding: 0.100rem;
}

.AfficherPlus
{
    display: none;
}

.etoileRight span
{
    font-size: 0.7rem;
    padding: 0!important;
}

.star_grey_filling
{
    color: lightgrey!important;
}

.LineA img 
{
    width: 98%;
    height: 150px;
    margin: 2px 2px;
    border-radius: 20px 20px 0px 0px;
}

.LineB img 
{
    width: 98%;
    height: 150px;
    margin: 2px 2px;
    border-radius: 20px 20px 0px 0px;
}

.LeftBox h3
{
    margin: 5px 5px;
    padding: 0;
}

.LeftBox p
{
    margin: 5px 5px;
    padding: 0;
}

.LeftBox span
{
    color: blue;
    padding-left: 5px;
}


.HeaderBox
{
    display: flex;
    width: 100%;
    height: 50px;
    justify-content: center;
}

.fa-chart-line
{
    height: 16px;
    margin-top: 10px;
}

.RightBox img
{
    width: 40%;
    height: 98%;
    margin: 2px;
    border-radius: 20px 0px 0px 20px;
}

.Box2 span 
{
    padding: 0px 5px;
    color: blue;
    
}

.Box2 p,  .Box2 h3
{
    margin: 15px 5px;
}


.RightBox .TextAndIcon i
{
  margin-left: 30%;
}

.RightBox .TextAndIcon
{
    margin: 15px;
}

.H3 
{
    position: relative
}

.etoileRight
{
    margin-top: 2rem;
    margin-left: 0.3rem
}

div.AfficherPlus
{
    margin-top: 1rem;
}

.Box1:hover
{
    box-shadow: 6px 6px 5px #b7babd;
}

/******** ACTIVITES ***********/
/******** ACTIVITES ***********/
/******** ACTIVITES ***********/





.Activité h2 
{
    margin-left: 3.5rem;
    margin-bottom: 2rem;
}

.Activité
{
    width: 100%;
    margin-top: 4.063rem;
    margin-bottom: 3.75rem;
    border-radius: 0.938rem;
}

.grid
{
    display: grid;
    justify-content: center;
    grid-template-columns: 21% 21% 21% 21%;
    column-gap: 2.75rem;
    grid-template-rows: 14.75rem 10.313rem;
    grid-row-gap: 2.75rem;
}

.grid a 
{
    background-color: white;
    border-radius: 0.938rem;
    box-shadow: 0.188rem 0.188rem 1rem #bebebe;
}

.grid a:hover
{
    box-shadow: 5px 5px 5px 5px #b7babd;
}


.grid_child_01
{
    background: center no-repeat url(./Photos/1-.jpg);
    grid-column-start: 1;
    grid-row-end:  span 2;
}

.grid_child_01 .grid_h3-title
{
    position: relative;
    top: 86.5%
}

.grid_h3-title h3
{
    background-color: white;
    padding-left: 1.25rem;
    padding-top: 1.375rem;
    padding-bottom: 1.25rem;
    margin: 0rem;
    border-radius: 0rem 0rem 0.938rem 0.938rem;
}


.grid_child_02
{
    background: center no-repeat url(./Photos/2-.jpg);
    grid-column-start: 2;
}


.grid_child_02 .grid_h3-title
{
    position: relative;
    top: 73.5%;
}


.grid_child_03
{
    background: center no-repeat url(./Photos/3-.jpg);
    grid-column-start: 2;
    grid-row-start: 2;
}

.grid_child_03 .grid_h3-title
{
    position: relative;
    top: 62.5%;
}


.grid_child_04
{
    background: center no-repeat url(./Photos/4-.jpg);
    grid-column-start: 3;
    grid-row-end: span 2;
}

.grid_child_04 .grid_h3-title
{
    position: relative;
    top: 86.5%;
}

.grid_child_05
{
    background: center no-repeat url(./Photos/5-.jpg);
    grid-column-start: 4;
    grid-row-start: 1;
}

.grid_child_05 .grid_h3-title
{
    position: relative;
    top: 73.5%;
}

.grid_child_06
{
    background: center no-repeat url(./Photos/6-.jpg);
    grid-column-start: 4;
    grid-row-start: 2;
}

.grid_child_06 .grid_h3-title
{
    position: relative;
    top: 62.5%;
}





/******** FOOTER ***********/
/******** FOOTER ***********/
/******** FOOTER ***********/


.Footer {
    width: 100%;
    background-color: #F2F2F2;
    display: flex;
    margin-top: 50px;
    
}

.Apropos , .NosHebergements , .Assisatnace {
 margin: auto;
}


@media screen and (min-width: 1000px)
{
   .fa-search
{
    display: none;
}
    
}



