@media screen and (max-width: 1000px)
{


    
    
    
    
    
    /******** HEADER TEXT ***********/
    
    .HeaderText
    {
        text-align: center;
    }
    
    
    /******** SEARCH BOX ***********/
    
    .insideBox
    {
        justify-content: center;
    }
    
        .search b
    {
        display: none;
    }
    
    .search
    {
        padding: 0.2rem;
        border-radius: 7px 7px 7px 7px;
    }
    
    
    /******** FILTRES ***********/
    
    .FiltreSpace
    {
       display: flex;
       flex-direction: column; 
       justify-content: center;
        margin: auto;
    }
    
    #filtreBorder 
    {
        padding: 0;
        border-radius: 30px;
        margin: 0.3rem 0.3trm;
        border: 1px solid #DEEBFF;
    }
    
        #filtreBorder:hover 
    {
       background-color: #DEEBFF;
       color: blue;
    }
    

    #filtreTitle
    {
        text-align: center;
        margin-left: 1.5rem;
        margin-top: 1.2rem;
    }
    
     div#PositionControle
    {
    width: 100%;
    display: flex; 
    flex-wrap:wrap; 
    }
    
    div#PositionControle label 
    {
        margin: 0.5rem 0.8rem;
    }
    
    div#PositionControle span
    {
        margin-right: 0.5rem;
    }
    
    
    
    
    /******** Info TEXT ***********/
    
    .INFOTXT
    {
        margin-top: 2rem;
        text-align: center;
    }
    
    /******** HEBERGEMENT ***********/
    
    .HebergementsBOX
    {
     display: flex;
     flex-direction: column-reverse;  
    }
    
    .BoxWrapper
    {
        display: inline-flex;
    }
    
    .RightBox, .LeftBox
    {
        width: 100%;
        margin-top: 1.5rem;   
    }
    
    .LeftBox
    {
        background-color: white;
    }
    
    .LineA ul li, .LineB ul li
    {
        margin: 0.4rem;
     
    }
    
    
    /******** ACTIVITES ***********/

    .Activité h2
    {
        text-align: center;
        margin: 1.5rem;
    }
    
    
    .grid
    {
        display: flex;
        flex-direction: column;    
    }
    
    .grid a
    {
        width: 87%;
        margin: 0 auto;
        height: 15rem;
    }
    
        .grid_child_01 .grid_h3-title
    {
        position: relative;
        top: 75.5%;
    }
    
    .grid_child_03 .grid_h3-title
    {
        position: relative;
        top: 75.5%;
    }
  
    .grid_child_04 .grid_h3-title
    {
        position: relative;
        top: 75.5%;
    }
    
     .grid_child_06 .grid_h3-title
    {
        position: relative;
        top: 75.5%;
    }
    
    /******** FOOTER ***********/
    
    
    .Footer
    {
        display: flex;
        flex-direction: column;
        text-align: justify;
        display: flow-root;
    }
    
    .Apropos, .NosHebergements, .Assisatnace
    {
        margin-left: 3rem;
    }
    
    
    
    
    
    
    
    
}